/* table */
.table-wrap{
	position: relative;
	max-height: 50vh;
	overflow-y: auto;
}
.table-wrap > * + *{
	margin-top: 16px;
}
.table-wrap thead th{
	position: sticky;
	top: 0;
	background-color: #fff;
	box-shadow: inset 0 -1px 0 #e7ecf0;
	padding: 12px 12px 13px 12px;
}

.table{
	width: 100%;
	text-align: left
}

.table .row:hover{
	background-color: rgba(207, 213, 226, 0.15);
}
.table th{
	padding: 12px;
	color: #67707c;
}
.table td {
	padding: 12px;
	border-bottom: 1px solid #e7ecf0;
}

.table .column-check{
	width: 14px;
}
.table .column-check .input-checkbox {
	justify-content: center;
}

.table .data__number{
	text-align: right;
}





/* vue-good-table 

.table-wrap .vgt-table{
	font-size: 14px;
	border: 0;
}
.table-wrap .vgt-table thead th {
	font-size: 0.86em;
	color: #67707c;
	font-weight: 400;
}
.table-wrap .vgt-table td{
	padding: 10px 12px;
}

.table-wrap .vgt-table tbody tr:hover{
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	transition: box-shadow 0.2s;
}

.table-wrap .vgt-table .vgt-checkbox-col input[type="checkbox"]{
	position: relative;
	overflow: visible;
	opacity: 1;
	clip: inherit;
	clip-path: none;
}
.table-wrap .vgt-table .vgt-checkbox-col input[type="checkbox"]:before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 14px;
	height: 14px;
	background-image: url('../images/sprites_icons.png');
	background-position: -70px 0;
}
.table-wrap .vgt-table .vgt-checkbox-col input[type="checkbox"]:checked:before {
	background-position: -98px 0;
}

.table-wrap .vgt-table th.line-numbers,
.table-wrap .vgt-table th.vgt-checkbox-col,
.table-wrap .vgt-table thead th.vgt-checkbox-col{
	width: 14px;
	padding: 0 .75em;
	font-size: 0.86em;
	font-weight: 400;
}

.table-wrap .vgt-table tbody tr:last-child .line-numbers,
.table-wrap .vgt-table tbody tr:last-child .vgt-checkbox-col{
	border-bottom: 1px solid #dcdfe6;
}

.table-wrap .vgt-wrap__footer {
	padding: .75em;
	color: #67707c;
	border: 0;
}
.table-wrap .vgt-wrap__footer .footer__row-count__label,
.table-wrap .vgt-wrap__footer .footer__navigation{
	font-size: 0.86em;
}

.table-wrap .vgt-selection-info-row{
	border: 0;
	line-height: 31px;
}
.table-wrap .vgt-selection-info-row a{
	margin-left: 16px;
	font-weight: 400;
	color: #67707c;
	font-size: 0.86em;
}
*/