/* table */
.table-wrap{
	position: relative;
	max-height: 50vh;
	overflow-y: auto;
}
.table-wrap > * + *{
	margin-top: 16px;
}
.table-wrap thead th{
	position: sticky;
	top: 0;
	background-color: #3A579B;
	border-left: 1px solid #e7ecf0;
	box-shadow: inset 0 -1px 0 #e7ecf0;
	/* background-color: #fff; */
}
.table-wrap thead tr:first-child th:first-child{
	border-left: 0;
}

.table{
	width: 100%;
	text-align: left;
	border: 1px solid #e7ecf0;
	border-bottom: 0;
}

.table .row:hover{
	background-color: rgba(207, 213, 226, 0.15);
}
.table th{
	padding: 8px;
	color: #fff;
	font-weight: 400;
	text-align: center;
}

.table td {
	padding: 8px;
	border-bottom: 1px solid #e7ecf0;
	border-left: 1px solid #e7ecf0;
}
.table td:first-child{
	border-left: 0;
}
.table td .flex-box{
	align-items: center;
}
.table td .flex-box .button--small{
	margin-left: 8px;
}


.table .column-check{
	width: 14px;
}
.table .column-check .input-checkbox {
	justify-content: center;
}

.table .data__number{
	text-align: right;
}
.table th.highlight{
	background-color: #7B26D7;
}
.table td.highlight{
	background-color: rgba(240, 243, 248, 0.6);
}

.table-wrap.table--horizontal{
	overflow-x: auto;
}
.table-wrap.table--horizontal > .table{
	width: max-content;
	min-width: 100%;
	table-layout: auto;
}

/* table-sub */
.table .row__sub > td{
	padding: 16px;	
}
.table-sub-wrap .table{
	border: 1px solid #e7ecf0;
}