@charset "UTF-8";

/* ========== layout ========== */
.wrap{
	display: grid;
	grid: 'header header'
				'nav container';
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
	height: 100vh;
	overflow: hidden;
}

.header {
	grid-area: header;
	height: 56px;
	padding: 0 24px;
	border-bottom: 1px solid #e8e8e8;
	box-shadow: 0px 5px 20px rgba(0,0,0,0.1);

	display: flex;
	align-items: center;
	justify-content: space-between;

	z-index: 500;
}

.gnb{
	grid-area: nav;
	padding: 24px 0;
	background-color: #1a1a2e;
	color: #fff;
	
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	z-index: 300;
}

.container{
	grid-area: container;
	padding: 36px 48px;
	background-color: #f5f6f8;
	overflow: auto;
}


/* gnb */
.lst-gnb .lst-gnb__title{
	font-size: 0.86em;
	font-weight: 700;
	opacity: 30%;
	padding: 12px 24px;
	margin-top: 12px;
}
.lst-gnb .lst-gnb__title:first-of-type{
	margin-top: 0;
}

.lst-gnb .lst-gnb__item{
	display: flex;
	align-items: center;
	padding: 14px 48px 14px 24px;
}
.lst-gnb .lst-gnb__item > span{
	opacity: 0.5;
}
.lst-gnb .lst-gnb__item > span.icon{
	margin-right: 12px;
}

.lst-gnb .lst-gnb__item:hover > span{
	opacity: 1;
	transition: opacity 0.4s
}
.lst-gnb .lst-gnb__item:hover > .lst-lnb {
	display: block;
	opacity: 1;
}
.lst-gnb .lst-gnb__item .lst-lnb{
	display: none;
	opacity: 0;

	position: absolute;
	left: 100%;
	top: 0;
	min-width: 232px;
	height: 100vh;
	padding: 24px;
	background-color: #16213e;
}
.lst-lnb .lst-lnb__title{
	font-size: 0.86em;
	opacity: 50%;
	padding: 12px 0;
	margin-top: 12px;
}
.lst-lnb .lst-lnb__item{
	padding: 1px 0;
}
.lst-lnb .lst-lnb__item > a{
	display: block;
	padding: 8px 16px;
	opacity: 0.5;
	border-radius: 8px;
}
.lst-lnb .lst-lnb__item:hover > a{
	background-color: rgba(255,255,255, 0.16);
	opacity: 1;
}

.lst-gnb .lst-gnb__item.on > span{
	position: relative;
	opacity: 1;
}
.lst-gnb .lst-gnb__item.on > span.icon:before{
	content: '';
	position: absolute;
	top: -14px;
	left: -24px;
	width: 4px;
	height: 52px;
	background-color: #fff;
}
.lst-lnb .lst-lnb__item.on > a{
	opacity: 1;
	background-color: rgba(255,255,255, 0.16);
}



/* common class */
.blind {
	position: absolute;
	top: 0;
	left: -99999px;
	text-indent: -99999px;
	width: 1px;
	height: 1px;
	line-height: 0;
	font-size: 0;
	overflow: hidden;
}

.bold{
	font-weight: 700;
}

.text-align__left{
	text-align: left;
}
.text-align__center{
	text-align: center;
}
.text-align__right{
	text-align: right;
}

.flex-box{
	display: flex;
}



/* logo-temp */
.logo .mark{
	border-radius: 50%;
	background-color: #6a197d;
	width: 32px;
	height: 32px;
	font-size: 1.8em;
	line-height: 1;
	margin-bottom: 6px;
	
	display: flex;
	align-items: center;
	justify-content: center;
}
.logo p.mark span{
	margin-top: -2px;
	color: #fff;
	font-weight: 800;
}

.logo p:last-child{
	letter-spacing: 0.025em;
	display: flex;
	flex-direction: column;
}

.logo p:last-child > span:first-child{
	padding-bottom: 2px;
}
.logo p:last-child > span:first-child > span{
	color: #6a197d;
}
.logo p:last-child > span:last-child{
	font-size: 11px;
	display: block;
	color: #666;
}

.logo.logo-rec {
	display: flex;
	padding: 0;	
}
.logo.logo-rec .mark{
	font-size: 2.6em;
	width: 48px;
	height: 48px;
	margin-right: 16px;
}
.logo.logo-rec p:last-child > span:first-child{
	font-size: 20px;
}
.logo.logo-rec p:last-child > span:last-child{
	font-size: 14px;
}

.logo.logo-line{
	display: flex;
}
.logo.logo-line .mark{
	margin-right: 8px;
	margin-bottom: 0;
}
.logo.logo-line p:last-child > span:first-child {
	font-size: 18px;
	padding-right: 16px;
}
.logo.logo-line p:last-child{
	flex-direction: row;
	align-items: center;
}
.logo.logo-line p:last-child > span:last-child{
	font-size: 14px;
	font-weight: 400;
}


/* component */
.component-area-wrap{
	margin-bottom: 16px;
}
.component-area {
	background-color: #fff;
	border: 1px solid #ededed;
	border-radius: 16px;
	padding: 36px;
	box-shadow: 4px 4px 16px rgba(0,0,0,0.08);
}

.component-area + .component-area{
	margin-top: 16px;
}

.component-box + .component-box{
	margin-top: 32px;
}

.component-box.component-box-top{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.component-box-top{
	margin-bottom: 8px;
	display: flex;
	align-items: center;
}

.component__search{
	display: flex;
	align-items: center;
}
.component__search form{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.component__search form > * {
	margin-left: 16px;
}
.component__search form > *:first-child{
	margin-left: 0;
}
.component__search .input-box{
	flex-grow: 1;
}

.component__search .result-search{
	margin-left: 16px;
}


/* login common */
.login-container{
	display: flex;
	align-items:center;
	justify-content: center;
	flex-grow: 1;
	height: 100vh;
}


/* title */
.page__title{
	font-size: 20px;
	padding: 12px 0 32px;
}
.section__title{
	font-size: 2em;
}
.content__title{
	display: block;
	font-size: 1.2em !important;
	margin-bottom: 24px;
	font-weight: 700;
}
.content__title .content-sub__title{
	display: inline-block;
	border-left: 2px solid #b2bbca;
	margin-left: 16px;
	padding-left: 16px;
}
.component__title{
	color: #67707c;
	font-weight: 700;
}

/* message */
.msg-canceled {
	text-align: center;
	font-size: 0.86em;
	padding-top: 6px;
	color: #67707c;
}

/* link */
a.link{
	color: #9ba4b4;
	font-size: 0.86em;
}

/* user-picture */
.user-name,
.dept-name{
	display: flex;
	align-items: center;
}
.img-user{
	width: 36px;
	height: 36px;
	border-radius: 50%;
	border: 1px solid #e7ecf0;
	box-shadow: 0 0px 8px rgba(0,0,0,0.08);
	overflow: hidden;
	margin-right: 12px;
	text-align: center;
}
.img-user img{
	width: 100%;
	height: auto;
}
.user-name > p{
	letter-spacing: 0.08em;
}
.user-name .user-position,
.user-name .user-dept{
	letter-spacing: 0;
	font-size: 0.86em;
	font-weight: 400;
}
.user-name .user-dept{
	display: block;
	padding-top: 4px;
	color: #67707c;
}
.header .user-name > p{
	font-size: 1.1em;
}
.user-name + .icon-arrow{
	margin-left: 16px;
}

.dept-name .icon-dept{
	margin-right: 12px;
}


/* lst-cards */
.lst-cards{
	display: grid;
	grid-gap: 16px;
}
.lst-cards.lst-cards__2colums{
	grid-template-columns: repeat(2, 1fr);
}
.lst-cards.lst-cards__3colums{
	grid-template-columns: repeat(3, 1fr);
}
.lst-cards.lst-cards__4colums{
	grid-template-columns: repeat(4, 1fr);
}

.lst-cards__item{
	padding: 12px;
	border: 1px solid #e7ecf0;
	border-radius: 8px;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.lst-cards__item.cards__dept{
	min-height: 36px;
}

.lst-cards .component-area + .component-area{
	margin-top: 0;
}


/* lst-status */
.lst-status__item{
	display: none;
}
.lst-status__item.show{
	display: block;
	border-radius: 8px;
	padding: 8px 16px;
	color: #fff;
	font-size: 0.86em;
	text-align: center;
	background-color: #e94560;
}
.lst-status__item:nth-child(1),
.lst-status__item.bg-blue{
	background-color: #1f4068;
}
.lst-status__item.bg-purple{
	background-color: #6a197d;
}

.lst-status.lst-status-multiple{
	display: flex;
}
.lst-status-multiple .lst-status__item + .lst-status__item{
	margin-left: 6px;
}


/* select-options */
.select-options{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(12%, auto));
	gap: 16px;
}
.select-options .select-options__item{
	border: 1px solid #e7ecf0;
	border-radius: 8px;
	padding: 11px 0;

	display: flex;
	justify-content: center;
	align-items: center;
}
.select-options .select-options__item.select{
	border-color: #6a197d;
	background-color: #6a197d;
	color: #fff;
	font-weight: 700;
}


/* tab */
.lst-tab{
	display: flex;
	align-items: center;
	border: 1px solid #b2bbca;
	border-radius: 4px;
}
.lst-tab .lst-tab__item .lst-tab__link{
	display: flex;
	padding: 8px 12px;
	color: #666;
}
.lst-tab .lst-tab__item + .lst-tab__item{
	border-left: 1px solid #b2bbca;
}

.lst-tab .lst-tab__item.on .lst-tab__link{
	border-color: #6a197d;
	background-color: #6a197d;
	color: #fff;
}
.lst-tab .lst-tab__item:first-child.on .lst-tab__link{
	border-radius: 4px 0 0 4px;
}
.lst-tab .lst-tab__item:last-child.on .lst-tab__link{
	border-radius: 0 4px 4px 0;
}

.tab-cnt-wrap .tab-cnt {
	display: none;
}
.tab-cnt-wrap .tab-cnt.show {
	display: block;
}


/* input-box */
.input-box-wrap + .input-box-wrap{
	margin-top: 8px;
}

.input-box{
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.input-box > .button{
	margin-left: 16px;
}

.input-box.input-box-icon{
	position: relative;
}
.input-box.input-box-icon .icon{
	position: absolute;
	left: 12px;
	top: 50%;
	transform: translateY(-50%);
}

/* input */
.input,
.input-select{
	border-radius: 4px;
	background-color: #fff;
	border: 1px solid #e7ecf0;
	padding: 8px 12px;
	box-sizing: border-box;
	flex-grow: 1;
}

.input:read-only{
	background-color: #f8f8f8;
	color: rgba(103, 112, 124, 0.3);
}
.input:focus{
	border: 2px solid #6a197d;
	padding: 7px 11px
}

.input--large{
	padding: 16px 12px;
}
.input--large:focus{
	padding: 15px 11px;
}

.input-icon{
	padding-left: 36px;
}
.input-icon:focus{
	padding-left: 35px;
}

.input-term {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.input-term > .input-box{
	flex-grow: 1;
}
.input-term > p{
	margin: 0 12px;
}

.input-checkbox{
	display: flex;
	align-items: center;
	position: relative;
}
.input-checkbox__label span{
	color: #9ba4b4;
	font-size: 0.86em;
	margin-left: 6px;
}

.component-box-top .input-checkbox{
	position: relative;
	margin-left: 32px;
}
.component-box-top .input-checkbox:before{
	content:'';
	position: absolute;
	left: -16px;
	top: 0;
	height: 100%;
	width: 2px;
	background-color: #b2bbca;
}
.component-box-top .input-checkbox__label{
	margin-right: 12px;
}


/* button */
.buttons{
	display: flex;
	align-items: center;
}
.buttons .button + .button {
	margin-left: 1.3em;
}

.button{
	padding: 8px 12px;
	border-radius: 4px;
	border: 1px solid #b2bbca;
	background-color: #fff;
	color: #666;
	font-size: 0.86em;
	display: flex;
}
.button:hover{
	border-color: #6a197d;
	color: #6a197d;
}

.button.button-red-full{
	border-color: #e94560;
	background-color: #e94560;
	color: #fff;
}
.button.button__save{
	border-color: #e94560;
	color: #e94560;
}

.buttons-complete{
	margin-top: 32px;
	
	display: flex;
	justify-content: center;
}
.buttons-complete .button{
	min-width: 72px;
	padding: 12px 24px;
	border-radius: 8px;
	justify-content: center;
	font-size: 1em;
}
.buttons-complete .button__submit{
	border-color: #e94560;
	background-color: #e94560;
	color: #fff;
}

.button__move > span{
	order: 2;
}
.button__move .button__up{
	order: 1;
}
.button__move .button__down{
	order: 3;
	transform: rotate(180deg)
}

.button__prev .icon-triangle{
	transform: rotate(270deg);
	margin-right: 0;
}
.button__next .icon-triangle{
	transform: rotate(90deg);
	margin-right: 0;
}

.button__alert.on{
	position: relative;
}
.button__alert.on:before{
	content: '';
	position: absolute;
	top: -2px;
	right: 0px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	border: 1px solid #fff;
	background-color: #e94560;
}

.button__sitemap{
	display: flex;
	align-items: center;
	padding: 12px 24px;
	opacity: 0.5;
}
.button__sitemap .icon{
	margin-right: 12px;
}
.button__sitemap:hover{
	opacity: 1;
	transition: opacity 0.4s;
}

.button__calendar{
	position: absolute;
	right: 6px;
}

.button-state .button-txt{
	display: none;
}
.button-state .button-txt.on{
	display: block;
	min-width: 48px;
	color: #fff;
	font-size: 0.86em;
	padding: 4px;
	border-radius: 4px;
}
.button-state .button-txt__true{
	background-color: #1e3799;
}
.button-state .button-txt__false{
	background-color: #e94560;
}

.button__logout{
	display: flex;
	padding: 8px 24px;
	width: 100%;
}


/* progress-bar */
.progress-box-wrap{
	display: flex;
	align-items: center;
	width: 100%;
}
.progress-box{
	position: relative;
	height: 24px;
	margin: 8px 0;
}
.progress-box > * {
	position: absolute;
	left: 0;
	top: 0;
	height: 24px;
}

.progress__bar{
	background-color: #6a197d;
	border-radius: 4px;
	z-index: 1;
}
.progress__bg{
	width: 100%;
	background-color: #f5f6f8;
	border-radius: 4px;
}

.progress__2bars .progress__bar1{
	width: 77%;
}
.progress__2bars .progress__bar2{
	width: 23%;
	border-left: 2px solid #fff;
}
.progress__bar1 .progress__bar{
	border-radius: 4px 0 0 4px;
}
.progress__bar2 .progress__bar{
	background-color: #ff6b81;
	border-radius: 0 4px 4px 0;
}


/* tree */
.tree-area{
	font-size: 13px;
	color: #666;
}
.tree-container,
.tree-sub-container{
	position: relative;
}
.tree-container:before{
	content: "";
	position: absolute;
	top: 16px;
	left: 0;
	width: 1px;
	height: calc(100% - 30px);
	background-color: #e8e8e8;
}


.tree-area .tree-item__link{
	position: relative;
	display: flex;
	align-items: center;
	padding: 8px 16px 8px 18px;
}
.tree-area .tree-item__link:before{
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	height: 1px;
	width: 12px;
	background-color: #e8e8e8;
}

.tree-item__link .icon-tree {
	position: relative;
	display: block;
	width: 11px;
	height: 11px;
	border: 1px solid #b2bbca;
	background-color: #fff;
	border-radius: 2px;
	margin-right: 6px;
}
.tree-area .tree-item__link .icon-tree:before{
	content:"";
	position: absolute;
	top: 5px;
	left: 3px;
	width: 5px;
	height: 1px;
	background-color: #b2bbca;
}
.tree-area .tree-item__link .icon-tree:after{
	content:"";
	position: absolute;
	top: 3px;
	left: 5px;
	width: 1px;
	height: 5px;
	background-color: #b2bbca;
}
.tree-sub-container{
	display:none;
	margin-left: 24px;
}
.tree-sub-container:before{
	content: "";
	position: absolute;
	top: 0px;
	left: 0;
	width: 1px;
	height: calc(100% - 15px);
	background-color: #e8e8e8;
}

.tree-item__no-icon .icon-tree{
	display: none;
}

.tree-area .tree-item.on > .tree-item__link{
	color: #1b1c25;
	font-weight: 700;
}
.tree-area .tree-item.on > .tree-item__link .icon-tree:after{
	background-color: transparent;
}
.tree-area .tree-item.on .tree-sub-container{
	display: block;
}