@charset "UTF-8";

/* ========== layout ========== */
.wrap{
	display: grid;
	grid: 'header header'
				'lnb container';
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
	height: 100vh;
	overflow: hidden;
}

.header {
	grid-area: header;
	border-bottom: 1px solid #e8e8e8;
	box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
	z-index: 500;

	display: flex;
	flex-direction: column;
}

.gnb{
	background-color: #1a1a2e;
	color: #fff;
	
	position: relative;
	display: flex;
	justify-content: space-between;

	z-index: 300;
}
.lnb{
	grid-area: lnb;
	min-width: 216px;
	padding: 24px;
	background-color: #fff;
	box-shadow: 1px 0 10px rgba(0,0,0,.1);
	overflow-y: auto;
	z-index: 100;
}

.container{
	grid-area: container;
	padding: 36px 48px;
	background-color: #f5f6f8;
	overflow: auto;
}


/* header */
.header .header-top{
	height: 56px;
	padding: 0 24px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header .section__title--mobile{
	display: none;
}

/* gnb */
.button__nav{
	display: none;
}
.lst-gnb{
	display: flex;
}
.lst-gnb .lst-gnb__title{
	font-size: 0.86em;
	font-weight: 700;
	opacity: 0.3;
	padding: 12px 24px;
	margin-top: 12px;
}
.lst-gnb .lst-gnb__title:first-of-type{
	margin-top: 0;
}

.lst-gnb .lst-gnb__item{
	display: flex;
	align-items: center;
	padding: 14px 24px;
}

.lst-gnb .lst-gnb__item > span{
	opacity: 0.5;
}
.lst-gnb .lst-gnb__item > span.icon{
	margin-right: 12px;
}

.lst-gnb .lst-gnb__item:hover > span{
	opacity: 1;
	transition: opacity 0.4s
}
.lst-gnb .lst-gnb__item:hover > .lst-lnb {
	display: block;
	opacity: 1;
}
.lst-gnb .lst-gnb__item.on > span{
	opacity: 1;
}

/* lnb */
.lnb .lst-lnb__item > div{
	display: block;
	padding: 10px 8px;
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: space-between;
}
.lnb .lst-lnb__item > div:hover{
	color: #6a197d;
	font-weight: 700;
}
.lst-lnb > .lst-lnb__item:first-child > div{
	font-weight: 700;
	font-size: 1.4em;
	color: #16213e;
	border-bottom: 1px solid #e7ecf0;
}
.lst-lnb > .lst-lnb__item:first-child > ul {
	display: block;
}
.lnb  .lst-lnb__item > ul{
	display: none;
}
.lnb .lst-lnb__item.show > ul{
	display: block;
	padding-left: 8px;	
}


/* .lnb .lst-lnb .lst-lnb__title{
	font-size: 1.5em;
	padding: 12px 0;
	font-weight: 700;
	color: #16213e;
}
.lnb .lst-lnb .lst-lnb__item{
	border-top: 1px solid #e7ecf0;
}
.lnb .lst-lnb .lst-lnb__item > p{
	padding: 12px 0;
	font-size: 0.9em;
	font-weight: 700;
	color: rgba(103, 112, 124, 0.8);
}
.lnb .lst-lnb-sub{
	border-top: 1px solid #e7ecf0;
}
.lnb .lst-lnb .lst-lnb__link,
.lnb .lst-lnb .lst-lnb-sub__link{
	display: block;
	padding: 12px 8px;
	cursor: pointer;
}
.lnb .lst-lnb .lst-lnb__link{
	border-bottom: 0;
}
.lnb .lst-lnb-sub .lst-lnb-sub__item:first-child{
	border-top: 0;
}
.lnb .lst-lnb .lst-lnb__link:hover,
.lnb .lst-lnb .lst-lnb-sub__link:hover{
	color: #6a197d;
	font-weight: 700;
}
 */


/* popup */
.popup{
	display: none;
}
.popup.show{
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0, 0.4);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 500;
}

.popup .component-area{
	min-width: 24vw;
	max-width: 64vw;
	box-sizing: border-box;

}
.popup .component-area .inner-wrap{
	max-height: 80vh;
	overflow: hidden;
}
.popup-top{
	padding-bottom: 16px;
	margin-bottom: 24px;
	border-bottom: 1px solid #e7ecf0;
}
.popup-contents{
	max-height: calc(80vh - 61px);
	overflow-y: auto;
}

.popup-contents .component-box-wrap{
	display: flex;
}
.popup-contents .component-box-wrap > div{
	width: 50%;
	height: 50vh;
}

.popup-contents .tree-area{
	padding: 0 16px 16px;
}
.popup-contents .search-result-wrap{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.popup-contents .search-result-box{
	flex: 1;
	width: 100%;
	padding: 16px;
	border: 1px solid #e7ecf0;
	border-radius: 8px;
	box-sizing: border-box;
	overflow: hidden;
}

.popup .button__close{
	position: absolute;
	right: 36px;
	top: 36px;
}
.popup .button__close .icon-close{
	margin-right: 0;
}

.popup-contents .vue-daum-postcode{
	width: 50vw;
}

.popup.popup__tree .component-area{
	width: 56vw;
}

/* lst-search-result */
.popup .lst-search-result{
	overflow: auto;
}
.popup .lst-search-result .lst-search__item{
	padding: 6px 8px;
}
.popup__tree .lst-search-result .lst-search__item > span + span{
	padding-left: 8px;
}
.popup__tree .lst-search-result .input-checkbox__label span{
	font-size: 1em;
	color: #1b1c25;
}


/* common class */
.blind {
	position: absolute;
	top: 0;
	left: -99999px;
	text-indent: -99999px;
	width: 1px;
	height: 1px;
	line-height: 0;
	font-size: 0;
	overflow: hidden;
}

.bold{
	font-weight: 700;
}

.text-align__left{
	text-align: left;
}
.text-align__center{
	text-align: center;
}
.text-align__right{
	text-align: right;
}

.flex-box{
	display: flex;
}



/* logo-temp */
.logo .mark{
	border-radius: 50%;
	background-color: #6a197d;
	width: 32px;
	height: 32px;
	font-size: 1.8em;
	line-height: 1;
	margin-bottom: 6px;
	
	display: flex;
	align-items: center;
	justify-content: center;
}
.logo p.mark span{
	margin-top: -2px;
	color: #fff;
	font-weight: 800;
}

.logo p:last-child{
	letter-spacing: 0.025em;
	display: flex;
	flex-direction: column;
}

.logo p:last-child > span:first-child{
	padding-bottom: 2px;
}
.logo p:last-child > span:first-child > span{
	color: #6a197d;
}
.logo p:last-child > span:last-child{
	font-size: 11px;
	display: block;
	color: #666;
}

.logo.logo-rec {
	display: flex;
	padding: 0;	
}
.logo.logo-rec .mark{
	font-size: 2.6em;
	width: 48px;
	height: 48px;
	margin-right: 16px;
}
.logo.logo-rec p:last-child > span:first-child{
	font-size: 20px;
}
.logo.logo-rec p:last-child > span:last-child{
	font-size: 14px;
}

.logo.logo-line{
	display: flex;
}
.logo.logo-line .mark{
	margin-right: 8px;
	margin-bottom: 0;
}
.logo.logo-line p:last-child > span:first-child {
	font-size: 18px;
	padding-right: 16px;
}
.logo.logo-line p:last-child{
	flex-direction: row;
	align-items: center;
}
.logo.logo-line p:last-child > span:last-child{
	font-size: 14px;
	font-weight: 400;
}


/* section */
.section-top{
	margin-bottom: 24px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}


/* component */
.component-area-wrap{
	margin-bottom: 16px;
}
.component-area {
	position: relative;
	background-color: #fff;
	border: 1px solid #ededed;
	border-radius: 16px;
	padding: 36px;
	box-shadow: 4px 4px 16px rgba(0,0,0,0.08);
}

.component-area + .component-area{
	margin-top: 16px;
}

.component-box-wrap{
	margin-top: 24px;
}

.component-box + .component-box{
	margin-top: 32px;
}

.component-box.component-box-top{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.component-box-top{
	margin-bottom: 8px;
	display: flex;
	align-items: center;
}
.component-box-cnt > * + * {
	margin-top: 8px;
}


.component__search{
	display: flex;
	align-items: center;
}
.component__search form{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.component__search form > * {
	margin-left: 16px;
}
.component__search form > *:first-child{
	margin-left: 0;
}
.component__search .input-box{
	flex-grow: 1;
}

.component__search .result-search{
	margin-left: 16px;
}


/* title */
.page__title{
	font-size: 20px;
	padding: 12px 0 32px;
}
.section__title{
	font-size: 2em;
}
.content__title{
	display: block;
	font-size: 1.4em !important;
	margin-bottom: 24px;
	font-weight: 700;
}
.content__title .content-sub__title{
	display: inline-block;
	border-left: 2px solid #b2bbca;
	margin-left: 16px;
	padding-left: 16px;
}
.component-box-top .content__title{
	margin-bottom: 0;
}

.component__title{
	color: #67707c;
	font-weight: 700;
}

.popup__title{
	font-size: 1.2em;
	font-weight: 700;
}


/* message */
.msg-canceled {
	text-align: center;
	font-size: 0.86em;
	color: #67707c;
	margin-top: 6px;
}
.msg-state{
	font-size: 0.86em;
	color: #e94560;
	margin-top: 6px;
}

/* link */
a.link{
	color: #9ba4b4;
	font-size: 0.86em;
}

/* user-picture */
.user-name,
.dept-name{
	display: flex;
	align-items: center;
}
.img-user{
	width: 36px;
	height: 36px;
	border-radius: 50%;
	border: 1px solid #e7ecf0;
	box-shadow: 0 0px 8px rgba(0,0,0,0.08);
	overflow: hidden;
	margin-right: 12px;
	text-align: center;
}
.img-user img{
	width: 100%;
	height: auto;
}
.user-name > p{
	letter-spacing: 0.08em;
}
.user-name .user-position,
.user-name .user-dept{
	letter-spacing: 0;
	font-size: 0.86em;
	font-weight: 400;
}
.user-name .user-dept{
	display: block;
	padding-top: 4px;
	color: #67707c;
}
.header .user-name > p{
	font-size: 1.1em;
}
.user-name + .icon-arrow{
	margin-left: 16px;
}

.dept-name .icon-dept{
	margin-right: 12px;
}


/* tree */
.tree-area{
	padding-top: 16px;
	overflow: hidden;
}
.tree-area .el-tree{
	overflow: auto;
}
.tree-area .el-tree-node__content{
	height: auto;
}
.tree-area .el-tree-node.is-expanded > .el-tree-node__content > .el-tree-node__label,
.tree-area .el-tree-node.is-current > .el-tree-node__content > .el-tree-node__label{
	font-weight: 700;
	color: #16213e;
}
.tree-area .el-tree-node__content>.el-tree-node__expand-icon{
	padding: 10px 6px;
}
/* tree-vue
.tree-area{
	font-size: 13px;
	color: #666;
	max-height: 84vh;
	overflow-y: auto;
}
.tree .lst-tree__menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 8px 10px;
	border-bottom: 1px solid #eee;
}

.tree .lst-tree__menu .icon-folder-open{
	font-size: 16px;
	color:#b2bbca;
	flex-grow: 1;
	text-align: right;
}

.tree .lst-tree__sub{
	padding-left: 8px;
}
.tree .lst-tree__sub .lst-tree__item > div{
	padding-left: 8px;
}

.tree .lst-tree__item{
	position: relative;
	padding: 10px 0;
}

.tree .lst-tree__menu:hover > span:first-child,
.tree .lst-tree__sub .lst-tree__item > div:hover > span:first-child{
	font-weight: 700;
	transition: font-weight 0.3s;
}
 */

/* lst-cards */
.lst-cards{
	display: grid;
	grid-gap: 16px;
}
.lst-cards.lst-cards__2colums{
	grid-template-columns: repeat(2, 1fr);
}
.lst-cards.lst-cards__3colums{
	grid-template-columns: repeat(3, 1fr);
}
.lst-cards.lst-cards__4colums{
	grid-template-columns: repeat(4, 1fr);
}

.lst-cards__item{
	padding: 12px;
	border: 1px solid #e7ecf0;
	border-radius: 8px;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.lst-cards__item.cards__dept{
	min-height: 36px;
}

.lst-cards .component-area + .component-area{
	margin-top: 0;
}


/* lst-status */
.lst-status__item{
	display: none;
}
.lst-status__item.show{
	display: block;
	border-radius: 8px;
	padding: 8px 16px;
	color: #fff;
	font-size: 0.86em;
	text-align: center;
	background-color: #e94560;
}
.lst-status__item:nth-child(1),
.lst-status__item.bg-blue{
	background-color: #1f4068;
}
.lst-status__item.bg-purple{
	background-color: #6a197d;
}

.lst-status.lst-status-multiple{
	display: flex;
}
.lst-status-multiple .lst-status__item + .lst-status__item{
	margin-left: 6px;
}


/* select-options */
.select-options{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(12%, auto));
	gap: 16px;
}
.select-options .select-options__item{
	display: block;
	border: 1px solid #e7ecf0;
	border-radius: 8px;
	padding: 11px 0;

	display: flex;
	justify-content: center;
	align-items: center;
}
.select-options .input{
	flex-grow: 0;
}
.select-options .input:checked + label{
	color: #6a197d;
	font-weight: 700;
}

/* tab */
.tab-area .el-tabs .el-tabs__item.is-active{
	color: #6a197d;
	font-weight: 700;
}
.tab-area .el-tabs .el-tabs__item:hover{
	color: #6a197d;
}
.tab-area .el-tabs .el-tabs__active-bar{
	background-color: #6a197d;
}

.lst-tab{
	display: flex;
	align-items: center;
	border: 1px solid #b2bbca;
	border-radius: 4px;
}
.lst-tab .lst-tab__item .lst-tab__link{
	display: flex;
	padding: 8px 12px;
	color: #666;
}
.lst-tab .lst-tab__item + .lst-tab__item{
	border-left: 1px solid #b2bbca;
}

.lst-tab .lst-tab__item.on .lst-tab__link{
	border-color: #6a197d;
	background-color: #6a197d;
	color: #fff;
}
.lst-tab .lst-tab__item:first-child.on .lst-tab__link{
	border-radius: 4px 0 0 4px;
}
.lst-tab .lst-tab__item:last-child.on .lst-tab__link{
	border-radius: 0 4px 4px 0;
}

.tab-cnt-wrap .tab-cnt {
	display: none;
}
.tab-cnt-wrap .tab-cnt.show {
	display: block;
}


/* input-box */
.input-box-wrap + .input-box-wrap{
	margin-top: 8px;
}

.input-box{
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.input-box > * + *{
	margin-left: 16px;
}
.input-box-icon .icon + .input{
	margin-left: 0;
}
.input-box-icon .input + .icon{
	margin-left: 0;
}

.input-box.input-box-icon{
	position: relative;
}
.input-box.input-box-icon .icon{
	position: absolute;
	left: 12px;
	top: 50%;
	transform: translateY(-50%);
}

/* input */
.input,
.input-select{
	border-radius: 4px;
	background-color: #fff;
	border: 1px solid #e7ecf0;
	padding: 8px 12px;
	box-sizing: border-box;
	flex-grow: 1;
}

.input:read-only{
	background-color: #f8f8f8;
	color: rgba(103, 112, 124, 0.3);
}
.input:focus{
	border-color: #6a197d;
}

.input--large{
	padding: 16px 12px;
}
.input--large:focus{
	padding: 15px 11px;
}

.input-icon{
	padding-left: 36px;
}
.input-icon:focus{
	padding-left: 35px;
}

.input-term {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.input-term > .input-box{
	flex-grow: 1;
}

.input-term > p{
	margin: 0 12px;
}

/* el-date-picker */
.input-term .input-box > div,
.input-box .el-date-editor.el-input, .el-date-editor.el-input__inner{
	width: 100%;
}

/* full-calendar */
.calendar.fc .fc-button-primary{
	background-color:  #fff;
	border-color: #b2bbca;
	color: #666;
}
.calendar.fc .fc-button-primary:hover{
	border-color: #6a197d;
	background-color: #fff;
	color: #6a197d;
}
.calendar.fc .fc-button:disabled,
.calendar.fc .fc-button.fc-today-button:disabled{
	background-color: #cfd5e2;
	border-color: #9ba4b4;
	color: #9ba4b4;
	cursor: default;
}
.calendar.fc .fc-button-primary:disabled:hover{
	border-color: #9ba4b4;
}
.calendar.fc .fc-button.fc-today-button{
	background-color: #6a197d;
	border-color: #6a197d;
	color: #fff;
}

.calendar.fc .fc-button .fc-icon{
	color: #666;
}
.calendar.fc .fc-button:hover .fc-icon{
	color: #6a197d;
}

.calendar.fc-theme-standard th{
	padding: 8px 0;
	/* background-color:  */
}

.calendar.fc .fc-daygrid-day-number{
	margin: 2px;
}

.calendar.fc .fc-daygrid-day.fc-day-today{
	background-color: transparent;
}
.calendar.fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-number{
	font-weight: 700;
	background-color: #6a197d;
	color: #fff;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	text-align: center;
}


.input-checkbox{
	display: flex;
	align-items: center;
	position: relative;
}
.input-checkbox__label span{
	color: #9ba4b4;
	font-size: 0.86em;
	margin-left: 6px;
}

.component-box-top .input-checkbox{
	position: relative;
	margin-left: 32px;
}
.component-box-top .input-checkbox:before{
	content:'';
	position: absolute;
	left: -16px;
	top: 0;
	height: 100%;
	width: 2px;
	background-color: #b2bbca;
}
.component-box-top .input-checkbox__label{
	margin-right: 12px;
}


/* button */
.buttons{
	display: flex;
	align-items: center;
}
.buttons.buttons--center{
	justify-content: center;
}
.buttons .button + .button {
	margin-left: 1.3em;
}

.button{
	padding: 8px 12px;
	border-radius: 4px;
	border: 1px solid #b2bbca;
	background-color: #fff;
	color: #666;
	font-size: 0.86em;
	display: flex;
}
.button:hover{
	border-color: #6a197d;
	color: #6a197d;
}

.button.disabled{
	background-color: #f0f0f0;
	color: rgba(103, 112, 124, 0.3);
	cursor: default;
}
.button.disabled:hover{
	border-color: #b2bbca;
	color: rgba(103, 112, 124, 0.3);
}

.button.button-red-full{
	border-color: #e94560;
	background-color: #e94560;
	color: #fff;
}
.button.button__save{
	border-color: #e94560;
	color: #e94560;
}

.buttons-complete{
	margin-top: 32px;
	
	display: flex;
	justify-content: center;
}
.buttons-complete .button{
	min-width: 72px;
	padding: 12px 24px;
	border-radius: 8px;
	justify-content: center;
	font-size: 1em;
}
.buttons-complete .button__submit{
	border-color: #e94560;
	background-color: #e94560;
	color: #fff;
}

.button__move > span{
	order: 2;
}
.button__move .button__up{
	order: 1;
}
.button__move .button__down{
	order: 3;
	transform: rotate(180deg)
}

.button__prev .icon-triangle,
.button__next .icon-arrow{
	transform: rotate(270deg);
	margin-right: 0;
}
.button__next .icon-triangle,
.button__prev .icon-arrow{
	transform: rotate(90deg);
	margin-right: 0;
}

.button__alert.on{
	position: relative;
}
.button__alert.on:before{
	content: '';
	position: absolute;
	top: -2px;
	right: 0px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	border: 1px solid #fff;
	background-color: #e94560;
}

.button__sitemap{
	display: flex;
	align-items: center;
	padding: 12px 24px;
	opacity: 0.5;
}
.button__sitemap .icon{
	margin-right: 12px;
}
.button__sitemap:hover{
	opacity: 1;
	transition: opacity 0.4s;
}

.button__calendar{
	position: absolute;
	right: 6px;
}

.button-state{
	display: block;
	min-width: 48px;
	color: #fff;
	font-size: 0.86em;
	padding: 8px;
	border: 0;
}
.button-state:hover{
	color: #fff;
}
.button-state.true{
	background-color: #1e3799;
}
.button-state.false{
	background-color: #e94560;
}

.button-state .button-txt{
	display: none;
}
.button-state.true .button-txt__true{
	display: block;
}
.button-state.false .button-txt__false{
	display: block;
}

.button-state.button-state__3options.opt1{
	background-color: #1e3799;
}
.button-state.button-state__3options.opt2{
	background-color: #6a197d;
}
.button-state.button-state__3options.opt3{
	background-color: #e94560;
}

.button-state.button-state__3options.opt1 .button-txt__opt1{
	display: block;
}
.button-state.button-state__3options.opt2 .button-txt__opt2{
	display: block;
}
.button-state.button-state__3options.opt3 .button-txt__opt3{
	display: block;
}


.button__logout{
	display: flex;
	padding: 8px 24px;
}

.button__pagination{
	padding: 8px;
	margin: 0 6px;
}


/* switch-box */
.switch-box{
	display: flex;
	align-items: center;
}
.switch-box .el-switch{
	margin-left: 8px;
}


/* pagination */
.pagination{
	display: flex;
	justify-content: center;
	margin-top: 16px;
}
.pagination > ul{
	display: flex;
	align-items: center;
}
.pagination > ul > li{
	opacity: 0.8;
	color: #67707c;
}
.pagination > ul > li.on{
	font-weight: 700;
	opacity: 1;
	color: #1b1c25;
}


/* progress-bar */
.progress-box-wrap{
	display: flex;
	align-items: center;
	width: 100%;
}
.progress-box{
	position: relative;
	height: 24px;
	margin: 8px 0;
}
.progress-box > * {
	position: absolute;
	left: 0;
	top: 0;
	height: 24px;
}

.progress__bar{
	background-color: #6a197d;
	border-radius: 4px;
	z-index: 1;
}
.progress__bg{
	width: 100%;
	background-color: #f5f6f8;
	border-radius: 4px;
}

.progress__2bars .progress__bar1{
	width: 77%;
}
.progress__2bars .progress__bar2{
	width: 23%;
	border-left: 2px solid #fff;
}
.progress__bar1 .progress__bar{
	border-radius: 4px 0 0 4px;
}
.progress__bar2 .progress__bar{
	background-color: #ff6b81;
	border-radius: 0 4px 4px 0;
}


/* error */
.error{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background-color: #f5f6f8;
}
.error .inner-wrap{
	margin-top: -16vh;
}
.error .error-code {
	color: #ff6b81;
	font-size: 7rem;
	font-weight: 700;
	text-align: center;
}
.error .msg-error {
	color: #67707c;
	font-size: 2.4rem;
	font-weight: 700;
	text-align: center;
}


/* mobile */
@media (max-width: 768px) {
	/* ========== layout ========== */
	.wrap{
		grid: 'header'
					'container';
		grid-template-columns: 1fr;
	}

	.header{
		position: relaitve;
		z-index: 1;
	}


	/* header */
	.header .page__title{
		font-size: 14px;
		opacity: 0.4;
	}

	/* gnb */
	.header .button__nav{
		display: block;
		position: absolute;
		right: 16px;
		top: 12px;
		width: 32px;
		height: 32px;
	}
	.button__nav .nav-bar{
		position: absolute;
		left: 5px;
		width: 22px;
		height: 2px;
		border-radius: 1px;
		background-color: #fff;
	}
	.button__nav .nav-bar:first-of-type{
		top: 7px;
	}
	.button__nav .nav-bar:nth-of-type(2){
		top: 15px;
	}
	.button__nav .nav-bar:nth-of-type(3){
		top: 23px;
	}

	.gnb-wrap{
		display: none;
	}

	.gnb-wrap.show{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		padding: 20px 24px 56px;
		box-sizing: border-box;
	}

	.gnb-wrap .button__close{
		position: absolute;
		right: 16px;
		top: 12px;
		width: 32px;
		height: 32px;
	}
	.gnb-wrap .button__close .close-bar{
		position: absolute;
		left: 5px;
		width: 22px;
		height: 2px;
		border-radius: 1px;
		background-color: #fff;
	}
	.gnb-wrap .button__close .close-bar:first-of-type{
		transform: rotate(45deg);
	}
	.gnb-wrap .button__close .close-bar:nth-of-type(2){
		transform: rotate(-45deg);
	}


	/* container */
	.container{
		height: 100vh;
		overflow: hidden;
		box-sizing: border-box;
	}

	/* component */
	.component-area{
		padding: 24px
	}

	/* popup */
	.popup.show{
		height: calc(100vh - 56px);
	}
	.popup-contents .vue-daum-postcode{
		width: 100%;
	}



	/* logo temp */
	.logo.logo-rec .mark{
		font-size: 2em;
		width: 40px;
		height: 40px;
	}
	.logo.logo-rec p:last-child > span:first-child{
		font-size: 18px;
	}
	.logo.logo-rec p:last-child > span:last-child{
		font-size: 12px;
	}
}