/* 유연근무 - 출/퇴근 등록 */
.time-recording-wrap{
	display: flex;
	flex-direction: column;
}
.time-recording-wrap > p:first-child{
	font-size: 16px;
	line-height: 1.4;
}
.time-recording-wrap > p:first-child .bold{
	font-size: 20px;
	letter-spacing: 0.08em;
}

.time-recording-wrap .clock{
	font-size: 24px;
	font-weight: 700;
	color: #3C7DFF;
	padding: 12px 0 10px;
}
.time-recording-wrap .buttons .button{
	display: flex;
	flex-direction: column;
	align-items: center;
	
	flex-grow: 1;
	font-size: 14px;
	padding: 6px 0;
	border-radius: 8px;
}
.time-recording-wrap .button .stamp-time{
	font-size: 0.9em;
	padding-top: 4px;
}

.component-box .status-time{
	padding: 12px 0 20px;
}

.info-attendance .component-area:not(.stamp-time) .component-box:last-child{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.info-attendance .component-area .component-box:last-child > span{
	font-size: 0.86em;
	color: #67707c;
}

.lst-working{
	display: flex;
}
.lst-working > ul{
	display: none;
}
.lst-working.show > ul{
	display: flex;
	border: 1px solid #b2bbca;
	border-radius: 4px;
	margin-left: 8px;
}
.lst-working > ul li{
	padding: 8px;
	color: #666;
	font-size: 0.86em;
}

/* 임시 progress-bar */
.info-attendance .component-area:nth-child(2) .progress__bar1 .progress__bar{
	width: 90%;
}
.info-attendance .component-area:nth-child(3) .progress__bar1 .progress__bar{
	width: 100%;
}
.info-attendance .component-area:nth-child(3) .progress__bar2 .progress__bar{
	width: 100%;
}
.info-attendance .component-area:nth-child(4) .progress__bar{
	width: 70%;
}

/* eis - 재무 분석 */
.component__fa-1 .content__title .link{
	margin-left: 24px;
	font-size: 0.78em;
	font-weight: 400;
}
.component__fa-1 .component-area{
	flex-grow: 1;
}
.component__fa-1 .component-area + .component-area{
	margin-top: 0;
	margin-left: 16px;
}
.component__fa-1 .component-area > .flex-box{
	justify-content: space-between;
}

.component__fa-2{
	margin-top: 32px;
}
.component__fa-2 .component-area > .flex-box + .flex-box{
	margin-top: 24px;
}
.component__fa-2 .flex-box > .component-box {
	margin-top: 0;
	flex-grow: 1;
}
.component__fa-2 .flex-box > .component-box + .component-box{
	margin-left: 16px;
}
.component__fa-2 .component-box-top{
	justify-content: center;
	color:#8293A7;
}
.component__fa-2 .box{
	flex-direction: row;
}
.component__fa-2 .box + .box{
	margin-top: 2px;
}
.component__fa-2 .status--up.flex-box,
.component__fa-2 .status--down.flex-box{
	align-items: center;
	justify-content: center;/* 추가 */
}


/* 영업 실적 분석 */
.component__p-1 .component__title{
	color: #8293A7;
}
.component__p-1 > .flex-box {
	width: 100%;
	justify-content: space-between;
}
.component__p-1 > .flex-box > div{
	flex-grow: 1;
}
.component__p-1 > .flex-box > div + div{
	margin-left: 16px;
}
.component__p-1 > .flex-box .lst-cards + .lst-cards{
	margin-top: 16px;
}
.component__p-1 .status--up .bold span,
.component__p-1 .status--down .bold span{
	display: inline-block;
	margin-left: 8px;
	color: inherit;
}


@media (max-width: 1670px){
	
	/* eis-재무분석 */
	.component__fa-1 > .flex-box{
		flex-direction: column;
	}
	.component__fa-1 .component-area + .component-area{
		margin-top: 16px;
		margin-left: 0;
	}
	.component__fa-1 .lst-cards .box-cnt .bold{
		font-size: 1.2em;
	}
}


@media (max-width: 1440px) {
	/* eis-재무분석 */
	.component__fa-2 .component-area > .flex-box{
		flex-direction: column;
	}
	.component__fa-2 .flex-box > .component-box + .component-box{
		margin-left: 0;
		margin-top: 24px;
	}
}


@media (max-width: 768px) {

	/* eis - 재무 분석 */
	.component__fa-1 .component-area > .flex-box{
		justify-content: flex-start;
		flex-wrap: wrap;
	}
	.component__fa-1 .component-area > .flex-box > div{
		flex-grow: 1;

		padding: 12px;
		border: 1px solid #e7ecf0;
		border-radius: 8px;
		box-shadow: 1px 1px 8px rgba(24, 24, 24, 0.08);
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	.component__fa-1 .component-area > .flex-box > div:nth-child(4){
		margin-top: 8px;
		margin-left: 0;
	}
	.component__fa-1 .component-area > .flex-box > div:nth-child(5){
		margin-top: 8px;
	}
	.component__fa-1 .component-area > .flex-box > div + div{
		margin-left: 8px;
	}

	.component__fa-2 > .flex-box{
		flex-direction: column;
	}
	.component__fa-2 > .flex-box > .table-wrap + .table-wrap{
		margin-top: 24px;
	}
	.component__fa-2 .table-wrap .table colgroup col:first-child{
		width: 72px;
	}
}